/* Work Sans Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* Shared Styles */
* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.all-sections-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

.descriptions {
    color: #727272;
    /* padding-bottom: 100px; */
}

.btn-primary {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background: #FF900E;
    padding: 12px 16px;
    cursor: pointer;
}

/* Header Styles */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

.g3 {
    color: #FF900E;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 18px;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

.banner-content {
    max-width: 800px;
    text-align: center;

}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner img {
    width: 100%;
    margin-top: 20px;
}

/* main section styles */
main {
    max-width: 1140px;
    margin: 50px auto;
}

/* Teams Section Styles */
.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.teams-content {
    padding-right: 70px;
    padding-left: 70px;
}

.teams-title {
    font-size: 2.8rem;
}

.teams-title .quick-list {
    color: #727272;
    font-weight: 500;
}

.teams-title .text-features {
    color: #FF900E;
    font-weight: 700;
}

/* Feature Section Styles */
.features {
    margin-top: 130px;
    display: flex;
    gap: 100px;
}

.features .all-sections-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.features-content .card {
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.features-content .card-title {
    color: #131313;
    font-size: 20px;
    font-weight: 600;
}

.feature-img img{
    height: 90%;
    margin-left: 50px;
}
.ten-years-badge {
    color: #FFF;
    text-align: center;
    font-weight: 700;
    border-radius: 8px;
    background: #FF900E;
    width: 300px;
    padding: 40px;
    position: relative;
    bottom: 100px;
}

.ten-years-badge h3 {
    font-size: 65px;
    margin: 0;
}

.ten-years-badge p{
    font-size: 1.5rem;
}

/* Facts Section Styles */

.facts-card-container {
    display: flex;
    justify-content: space-around;

}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
    margin-top: 5px;
}

.facts-card-container .card-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
}

.facts-card-container .card-stats {
    font-size: 2.8rem;
    font-weight: 600;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Sponsors Section Styles */
.sponsors {
    text-align: center;
}

.sponsors-img-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    gap: 40px;
}

.sponsors-img-container img {
    width: 165px;
}

/* Footer Styles */
.footer{
    background-color: rgba(255, 144, 14, 0.10) ;
    color: #424242;
text-align: center;
font-size: 20px;
font-weight: 400;
padding-top: 35px;
padding-bottom: 35px;
}

/* Responsive Styles */
/* mobile device */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .facts-card-container,
    .sponsors-img-container, .features {
        flex-direction: column;
    }

    .feature-img img{
        width: 100%;
        margin-left: 0;
    }

    .teams-container {
        flex-direction: column-reverse;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
        margin-top: 20px;
    }

    .teams-content,
    .facts-card-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .facts-card-container {
        gap: 20px;
    }

    .footer{
        font-size: 16px;
    }
}


/* Tablet or medium device */
@media screen and (min-width:576px) and (max-width:992px) {
    header {
        padding: 50px;
    }

    nav,
    .sponsors-img-container, .features {
        flex-direction: column;
    }

    .teams-container {
        flex-direction: column-reverse;
    }

    .teams-img-container {
        margin-top: 20px;
    }

    .teams-content,
    .facts-card-container,
    .sponsors-img-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .facts-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

}